body {
    background-image: url("../images/puppy-bg.jpg");
    background-size: cover;
}

h1 {
    font-family: 'Aclonica', sans-serif;
}

h2 {
    font-family: 'Rock Salt', cursive;
}

#subheader {
    text-shadow: 5px 1px 10px black;
    -webkit-text-stroke: 1px skyblue;
}

.bones {
    -webkit-text-stroke: 1px skyblue;
}

.fa-spin-reverse {
    -webkit-animation: a 2s infinite linear reverse;
    animation: a 2s infinite linear reverse;
}

.theme-image {
    height: 10rem;
    border-radius: 50%;
}

#answer-display {
    letter-spacing: 10px;
}

.action-btn {
    width: 6rem;
}

.action-btn p {
    margin: 0;
}

#game-container {
    visibility: collapse;
    -webkit-animation: fadeIn 3s;
    animation: fadeIn 3s;
    animation-play-state: paused;
}

input {
    display: none;
}

.scoreboard {
    font-family: 'Share Tech Mono', monospace;
    font-size: 2rem;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}